
<footer class="footer section">
	<div class="container">
	  <div class="footer-btm pt-4">
		<div class="row">
		  <div class="col-lg-4">
			<div class="copyright">
				{{ .Site.Data.company.copyright_html | safeHTML }}
			</div>
		  </div>
		  <div class="col-lg-8 text-left text-lg-right">
			<ul class="list-inline">
				{{ range .Site.Data.nav.menu }}
					<li class="list-inline-item">
						<a href="{{ .url }}" {{ if .open_in_new_tab }}target="_blank"{{ end }}>{{ .name }}</a>
					</li>
				{{ end }}
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </footer>