<section class="section about position-relative">
	<div class="bg-about" style="background-image:url('{{ .background_image }}');"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-6 offset-md-0">
				<div class="about-item">
					<span class="h6 text-color">{{ .preheading }}</span>
					<h2 class="mt-3 mb-4 position-relative content-title">{{ .heading }}</h2>
					<div class="about-content">
						<h4 class="mb-3 position-relative">{{ .subheading }}</h4>
						{{ $counter := 0 }}
                        {{ range .content }}
                            {{ $counter = add $counter 1 }}
                            <p class="mb-2"><span class="text-color mr-2 text-md">0{{ $counter }}.</span>{{ .paragraph | markdownify }}</p>
                        {{ end }}
                        {{ with .link }}
							<a href="{{ .url }}" class="btn btn-main btn-round-full">{{ .text }}</a>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>